<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDOS</th>
                        <th scope="col">PUESTO</th>
                        <th scope="col">HORARIO</th>
                        <th scope="col">FECHA ALTA</th>
                        <th col="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let becario of listBecarios">
                        <th scope="row">{{becario.id}}</th>
                        <td>{{becario.nombre}}</td>
                        <td>{{becario.apellidos}}</td>
                        <td>{{becario.puesto}}</td>
                        <td>{{becario.horario}}</td>
                        <td>{{becario.fechaalta}}</td>
                        <td *ngIf="becario?.id">
                            <div (click)="editBecario(becario)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg></div>
                        </td>
                        <td *ngIf="becario?.id">
                            <div (click)="deleteBecario(becario.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
                                    <path
                                        d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z" />
                                    <path
                                        d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                                </svg></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Utilizamos un componente diferente para la edición del becario -->
<app-edit-becarios [showForm]="showFormEdit" (closeFormEmmitter)="closeModal()" (closeFormEmmitterUpdate)="closeModal(true)" [data]="becarioSelected"></app-edit-becarios>