<div *ngIf="showForm" class="modalEdit">
    <div (click)="closeModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill"
            viewBox="0 0 16 16">
            <path
                d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
        </svg>
    </div>
    <div class="formContainer">
        <h1>Edición Becario</h1>
        <hr />
        <div class="formEdit">
            <form [formGroup]="becarioForm" (ngSubmit)="update()">
                <input type="hidden" class="form-control" id="id" value="{{data.id}}">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="nombre" class="form-control" id="nombre" aria-describedby="nombreHelp"
                        value="{{data.nombre}}">
                    <div id="nombreHelp" class="form-text">Debe introducir un nombre válido.</div>
                </div>
                <div class="mb-3">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input type="apellidos" class="form-control" id="apellidos" aria-describedby="apellidosHelp"
                        value="{{data.apellidos}}">
                    <div id="apellidosHelp" class="form-text">Debe introducir un apellido válido.</div>
                </div>
                <div class="mb-3">
                    <label for="puesto" class="form-label">Puesto</label>
                    <input type="puesto" class="form-control" id="puesto" aria-describedby="puestoHelp"
                        value="{{data.puesto}}">
                    <div id="puestoHelp" class="form-text">Debe introducir un puesto válido.</div>
                </div>
                <button type="button" (click)="closeModal()" class="btn btn-secondary">Cancelar</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>
</div>